/*Vertical Tablet Lenovo*/
@media only screen and (min-width:600px) {
   :root {
      /* Tipografías */
--FontSizeH1: 40px;
--FontSizeH2: 26px;
--FontSizeH3: 20px;
--FontSizeH4: 16px;
      /* Elementos Página */
      --MenuAnchoElemento50:50%;
      --MenuAnchoElemento100:100%;
     --CambioDireccionFooterMenus:row;
     --DisplayLoginInferior:block;
     --PosicionFooterSuperior: space-between;
     --CambioDireccionLegal:row;
 }
}
