@media only screen and (min-width: 992px) {
    :root {

/* Configuraciones */
--PaddingSecciones:70px;
--CambioDireccionMovil:row;
--CambioAnchoColumnaMovil:50%;
/* Elementos Página */
--ImgWidthAplicativoMovil:100%;
--ImgMarginBottomAplicativoMovil:-0px;
--CambioAnchoColumnaPlanesMovil:40%;
--DisplayImgPlanes:block;
--DisplayImgPlanesMovil:none;
}
}
