/*Vertical iPhone 12, Vertical Moto G9 Plus*/
@media only screen and (max-width: 600px) {
    :root {
        /* Tipografías */
  --FontSizeH1: 35px;
  --FontSizeH2: 22px;
  --FontSizeH3: 20px;
  --FontSizeH4: 16px;
    }
}